* {
    font-family: Nunito;
    font-size: 15px;
    margin: 0;
    cursor: default;
}

body {
    margin: 0;
    background: rgb(73, 73, 73);
    overflow: hidden;
}

button {
    display: inline-block;
    background: rgb(228, 228, 228);
    transition-duration: 0.2s;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(163, 163, 163);
        color: white;
        text-shadow: 1px 1px black;
    }
}

input {
    cursor: text;
}

.container {
    width: 100%;
}

.bar {
    width: auto;
    height: 50%;
    color: white;
    background: green;
    display: block;
    text-indent: 10px;
}

.name-title {
    text-transform: capitalize;
    font-weight: 700;
}

#start-screen {
    display: flex;
    top: 0;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    text-align: center;
    background: rgb(216, 215, 215);
    transition-duration: 2s;
    z-index: 10;
    div p {
        @extend .container;
        color: red;
        position: absolute
    }
}

#fight-screen {
    display: flex;
    height: 100vh;
    display: none;
    flex-direction: column;
}

#update-screen {
    display: flex;
    flex-direction: column-reverse;
    background-color: rgb(172, 171, 171);
    position: relative;
    height: 85vh;
    p:last-child {
        font-size: 22px;
        text-indent: 10px;
        bottom: 20em;
        background: white;
        text-align: center;
        align-self: end;
        padding: 1%;
    }
    p {
        background: rgba(255, 255, 255, 0.479);
        text-indent: 1%;
    }
}

#player {
    position: relative;
    align-self: flex-end;
    background: black;
    height: 5.5em;
    width: 100%;
    display: flex;
    .info {
        background: white;
        text-align: center;
    }
    #player-mp {
        background: blue;
    }
    #player-hp {
        background: green;
    }
    #player-cp {
        background: yellow;
        color: black;
    }
}

#enemies {
    position: absolute;
    right: 0;
    width: 18%;
    margin: 1%;
    .enemy-card {
        background: rgb(0, 0, 0);
        margin: 5%;
        color: white;
        cursor: pointer;
        * {
            cursor: pointer;
        }
        &:hover {
            background: rgb(75, 75, 75);
            border: 2px solid white;
        }
    }
}

#actions {
    position: relative;
    background: rgba(255, 255, 255, 0.411);
    display: flex;
    flex-direction: row;
    justify-content: center;
    div {
        display: flex;
        flex-direction: column;
        margin: 0.5%;
    }
    button {
        height: inherit;
        min-width: 8.5em;
        max-width: 8.5em;
        max-height: 4em;
        align-self: center;
        margin: 0.5%;
        font-size: larger;
        text-transform: uppercase;
        padding: 1rem 0 1rem 0;
        &:hover {
            letter-spacing: 0.5px;
        }
    }
}