* {
    font-family: Nunito;
    font-size: 15px;
    margin: 0;
}

body {
    margin: 0;
    background: rgb(73, 73, 73);
    overflow: hidden;
}

button {
    display: inline-block;
    background: white;
    transition-duration: 0.2s;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(163, 163, 163);
    }
}

.container {
    width: 100%;
}

.bar {
    width: auto;
    height: 5vh;
    color: white;
    background: green;
    display: block;
    text-indent: 10px;
}

#start-screen {
    display: flex;
    top: 0;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    text-align: center;
    background: rgb(216, 215, 215);
    transition-duration: 2s;
    z-index: 10;
}

#fight-screen {
    height: 100vh;
    display: none;
    flex-direction: column;
}

#update-screen {
    height: 80vh;
    background-color: rgb(172, 171, 171);
}

#player {
    position: absolute;
    background: white;
    bottom: 0;
    width: 100%;
    height: 10vh;
    display: flex;
    .info {
        text-align: center;
    }
    #player-mp {
        background: blue;
    }
    #player-hp {
        background: green;
    }
    button {
        width: 100%;
        &:hover {
            background: rgba(158, 158, 158, 0.452);
        }
    }
}

#actions {
    background: gray;
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: center;
    button {
        min-width: 6em;
        margin: 1%;
        font-size: larger;
        text-transform: uppercase;
        padding: 2rem 0 2rem 0;
        &:hover {
            color: white;
            background-color: rgb(173, 173, 173);
        }
    }
}