* {
    font-family: Nunito;
    font-size: 15px;
    margin: 0;
    cursor: default;
}

body {
    margin: 0;
    background: rgb(73, 73, 73);
    overflow: hidden;
}

button {
    display: inline-block;
    background: rgb(228, 228, 228);
    transition-duration: 0.2s;
    padding: 0.4rem;
    border: none;
    cursor: pointer;
    &:hover {
        background-color: rgb(163, 163, 163);
        color: white;
        text-shadow: 1px 1px black;
    }
}

input {
    cursor: text;
}

.container {
    width: 100%;
}

.bar {
    width: auto;
    height: 50%;
    color: white;
    background: green;
    display: block;
    text-indent: 10px;
}

.name-title {
    text-transform: capitalize;
    font-weight: 700;
}

#start-screen {
    display: flex;
    top: 0;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    height: 100%;
    text-align: center;
    background: rgb(216, 215, 215);
    transition-duration: 2s;
    z-index: 10;
}

#fight-screen {
    height: 100vh;
    display: none;
    flex-direction: column;
}

#update-screen {
    height: 90%;
    margin: 1%;
    background-color: rgb(172, 171, 171);
    width: 60%;
    align-self: center;
}

#player {
    background: white;
    bottom: 0;
    width: 100%;
    display: flex;
    .info {
        text-align: center;
    }
    #player-mp {
        background: blue;
    }
    #player-hp {
        background: green;
    }
}

#enemies {
    position: absolute;
    right: 0;
    width: 18%;
    margin: 1%;
    .enemy-card {
        background: rgb(0, 0, 0);
        margin: 5%;
        color: white;
    }
}

#actions {
    position: relative;
    display: flex;
    margin: 1%;
    flex-direction: row;
    justify-content: center;
    button {
        height: inherit;
        min-width: 6em;
        margin: 0.5%;
        font-size: larger;
        text-transform: uppercase;
        padding: 2rem 0 2rem 0;
    }
}